---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Me';
const identity = {
  firstName: 'Will',
  lastName: 'Prouty',
  location: 'Cotati, CA',
  occupation: 'Floral Designer',
  hobbies: ['coding', 'design', 'ikebana', 'canning'],
};
const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'github', 'Astro'];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = 'navy';
const skillFontWeight = 'bold';
const skillTextTransform = 'uppercase';
import '../styles/global.css';
---

<style define:vars={{ skillColor, skillFontWeight, skillTextTransform }}>
  h1 {
    color: grey;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    text-transform: var(--skillTextTransform);
    font-weight: var(--skillFontWeight);
  }
</style>

<BaseLayout>
  <h1>My astro{identity.firstName} site</h1>
  <h2>{pageTitle}</h2>
  <h3>...and my Astro site!</h3>

  <p>I am working my way through my first tutorial with Astro.</p>
  <p>This site will become more interesting as I progress.</p>
  <p>Here's a little about me:</p>
  <ul>
    <li>My name is {identity.firstName} {identity.lastName}.</li><li>
      I live in {identity.location} and work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
          .
        </li>
      )
    }
  </ul>
  <p>Some of my technological skills include:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {happy && <p>I am happy to get this website deployed.</p>}
  {finished && <p>I have finished the Astro blog tutorial.</p>}
  {
    goal === 3 ? (
      <p>My goal is to finished with the tutorial by Friday.</p>
    ) : (
      <p>My goal is to never finish the tutorial. Hell!</p>
    )
  }
</BaseLayout>
