---

const {  pubDate, description, author, tags, content } = Astro.props;
console.log(Astro.props.tags);
---


  <p><em>{description}</em></p>
  <p>Published on: {pubDate.slice(0, 10)}</p>
  <p>Written by: {author.data.attributes.name}</p>
  <!-- <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} /> -->
  <p>{content}</p>
  <div class="tags">
    {
      tags.data.map((tagData) => {
        const tag = tagData.attributes.name;
        <p class="tag">
          <a href={`/tags/${tag}`}> {tag} </a>
        </p>
      })
    }
  </div>
  <slot />

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.35em 0.75em;
    font-size: 1em;
    background-color: #f8fcfd;
  }
</style>
